body{
    background-image: url("cover/home page.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  a{
    font-size: 2rem;
    text-decoration: none;
    color: blue;
font-weight: bolder; 
font-family: system-ui;

  }
  .links{
    margin-top: 32%;
  }